<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">


<!-- 
	<bean id="logger" class="main.webapp.test.AutoWire.Logger">
	</bean>

	<bean id="consoleWriter" class="main.webapp.test.AutoWire.ConsoleWriter">
	</bean>



	<bean id="mongoos" class="main.webapp.test.AutoWire.FileWriter">
		<qualifier value="filewriter"></qualifier>
	</bean>

	<bean id="squirrel" class="main.webapp.test.AutoWire.FileWriter">
	</bean> -->

	<!-- By declaring the below we can make use of annotations -->
	<context:annotation-config></context:annotation-config>


	<!-- By declaring the below we can create beans using annotations -->
	<context:component-scan base-package="main.webapp.test.AutoWire"></context:component-scan>

</beans>

